body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 70px;
}

.search-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-form input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-form button {
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.data-table th, .data-table td {
  border: 1px solid #000000;
  padding: 10px;
  background-color:#e4dfdf
}

.data-table th {
  background-color: #c04bb0;
}

.detail-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.reading-list ul {
  list-style: none;
  padding: 0;
}

.reading-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

.reading-list button {
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 4px 10px;
  cursor: pointer;
}

table {
  width: 95%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 6px;
}

th, td {
  padding: 10px 12px;
  text-align: left;
  vertical-align: middle;
}

img {
  max-width: 100px;
  height: auto;
  border-radius: 7px;
}

body {
  background: linear-gradient(to bottom, #a371a1, #a594b1, #7f78ab);
  font-family: 'Segoe UI', sans-serif;
}


